*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}

nav{
    height: 10vh;
    background-color: rgb(44, 22, 7);
    font-size: 3.5rem;
}

li{
    display: inline-block;
    margin-top: 2.5rem;
    margin-left: 2.5rem;
}

li a{
    text-decoration: none;
    color: black;
    display:inline-block;
}

.inicio{
    position: absolute;
    left: 8vw;
    background-color: rgb(236, 167, 110);
    border-radius: 10px;
}

.productos{
    position: absolute;
    left: 43vw;
    background-color: rgb(236, 167, 110);
    border-radius: 10px;
}

.ubicacion{
    position: absolute;
    right: 8vw;
    background-color: rgb(236, 167, 110);
    border-radius: 10px;
}
main{
    height: 85vh;
    background-color: rgb(199, 133, 48);
}

.pan-div, .churro-div, .buñuelo-div, .pastel-div, .torta-div{
    position: absolute;
}

.pan-div{
    left: 10vw;
    top:11vh;
}

.churro-div{
    left: 60vw;
    top:11vh;
}

.buñuelo-div{
    left: 10vw;;
    top:40vh;
}
.pastel-div{
    left: 60vw;
    top: 40vh;
}
.torta-div{
    left: 35vw;
    top: 67vh;
}
h1{
    font-size: 4rem;
    text-align: center;
}

.pan, .churro, .buñuelo, .pastel, .torta{
    width: 30vw;
    height: 22vh;      
}





footer{
    width: 100vw;
    height: 5vh;
    background-color: rgb(44, 22, 7);
    margin: 0;
    padding: 0;
    font-size: 2.6rem;
}
footer a{
    text-decoration: none;
    color: rgb(111, 111, 161);

}